%template#buy-button-template
  .buy_button
    %button.buy.btn.btn-success
      Buy



:javascript
  (function (){
   var currentScript = document.currentScript
    var template = currentScript
            .ownerDocument
            .getElementById('buy-button-template')
            .content
    customElements.define('buy-button',
    class extends HTMLElement {
      constructor() {
        super()
      }
      connectedCallback() {
        const temp = document.importNode(template, true);
        this.appendChild(temp);
        var product=this.getAttribute('product')
        this.querySelector('.buy').onclick=
          function() {
           var xhr=new XMLHttpRequest();
           xhr.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                  var createdOrder = JSON.parse(this.responseText);
                 if(shopping_web.core.launchOrder){
                  shopping_web.core.launchOrder(createdOrder.uri)
                 }
              }
          };
          xhr.open('POST', '/buy-button/order');
          xhr.setRequestHeader('Content-Type', 'application/json');
          xhr.send(JSON.stringify({"product":product}));
      }

      }
    }
    )
  }())

