%template#buy-button-template
  .buy_button
    %button.buy
      Buy



:javascript
  (function (){
   var currentScript = document.currentScript
    customElements.define('buy-button',
    class extends HTMLElement {
      constructor() {
        super()
        var template = currentScript
            .ownerDocument
            .getElementById('buy-button-template')
            .content
        var shadowRoot = this.attachShadow({mode: 'open'})
        shadowRoot.appendChild(template.cloneNode(true))
        var product=this.getAttribute('product')
        shadowRoot.querySelector('.buy').onclick=
          function() {
           var list=document.getElementsByClassName('buy')
           for (var i = 0; i < list.length; i++) {
               list[i].disabled=true;
           }
           var xhr=new XMLHttpRequest();
           xhr.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                  var createdOrder = JSON.parse(this.responseText);
                 if(window.prepareOrder){
                  window.prepareOrder(createdOrder.uri)
                 }
              }
          };
          xhr.open('POST', '/buy-button/order');
          xhr.setRequestHeader('Content-Type', 'application/json');
          xhr.send(JSON.stringify({"product":product}));
         }
      }
    }
    )
  }())

